//devices
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;
$desktopL: 2560px;

:root {
  //colors
  --primary: #ed1c24;
  --primary-light: #ff1e27;
  --primary-dark: #c7171e;
  --secondary: #7d7d7d;
  --secondary-light: #9e9e9e;
  --secondary-dark: #575757;
  --light: #f7f7f7;
  --light-white: #ffffff;
  --light-dark: #d9d9d9;
  --dark: #141414;
  --dark-light: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  background: var(--dark-light);
  @media (max-width: $mobileL) {
    font-size: 50%;
  }
}

main {
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  @media (max-width: $mobileL) {
    margin-bottom: 80px;
  }
}

body {
  font-size: 1.6rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--light);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-dark);
    border-radius: 16px;
  }
}

p {
  color: var(--dark-light);
}

*,
button,
input {
  font-family: Roboto;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
    outline: none;
  }
  input,
  textarea {
    background: var(--light-white);
  }
}

ul {
  list-style: none;
}

a {
  color: var(--light-white);
  text-decoration: none;
}
